html
    head
        //- bower:css

		//- endbower
        //- bower:js     
		
        //- endbower 
        //- inject:css

		//- endinject
        //- inject:js    
		
        //- endinject 

        title jd MyApp
    body(class='myClass')
        h1(id='MyId') jd My MyApp
        h3 jd sub heading
        ul
            each val in list
                li= val
